.program-schedule {
    margin: auto;
    max-width: 900px;
    padding-top: 30px;
}

.time {
    text-align: center;
}

td {
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #EFEFEF;
}

.hall-name {
    font-style: italic;
    font-size: 14px;

}

.speakers {
    font-style: italic;
    font-size: 14px;
}

.details .topic {
    font-weight: bold;
}
.details .chair {
    font-style: italic;
    font-weight: normal;
}

.table-head {
    padding: 10px;
    min-width: 75px;
    background-color: #911F27;
    border-radius: 10px 10px 0 0 ;
    color: #EFEFEF;
}