.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.card-box{
    background-color: #F6F6F6;
    margin: 20px;
    float:left;
    width:50%;

}
.card-box1{
    background-color: #F6F6F6;
    margin: 20px;
    float:left;
    width:50%;
}
.sub-heading{
    margin-top: 10px;
    text-align: center;
}
.hr-tag {
    margin: auto;
    width:75%;
}
.card-nested{
    float: center;
    background-color: #D9D9D9;
    margin-left:120px;
    margin-top:10px;
    float:center;
    width:60%;
}

.title-card{
    text-align: center;
}

.btn{
    float: right;
    text-align: center;
    background-color: #921920;
    color: #FFFFFF;
    border: #921920;
}

.btn:hover{
    background-color: #af2c35;
}